<template>
  <div>
    <div id="mapId" class="map"></div>
  </div>
</template>
<script>
// import L from 'leaflet'
import mapboxgl from 'mapbox-gl/dist/mapbox-gl.js'
import { mapActions } from 'vuex'
import { updateMap } from 'src/store/store-state/actions'

// import MapboxGeocoder from '@mapbox/mapbox-gl-geocoder'

// import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css'
export default {
  name: 'Map',
  data () {
    return {
      // map: {},
      mapboxURL: 'mapbox://styles/mapbox/',
      layerId: 'outdoors-v11',
      center: [2.213749, 46.227638],
      geojson: {}
    }
  },
  computed: {
    // ...mapGetters('search', [getGPXURL])
  },
  methods: {
    ...mapActions('search', ['updateMap']),
    initializeMap () {
      mapboxgl.accessToken =
        'pk.eyJ1IjoiZG9yaW5lMzEiLCJhIjoiY2tqbmEyZTBlMjlsazJ0cW9wcjh5OXk2ciJ9.TWFNiMaWoE2mhV7vU6l9HQ'

      const map = new mapboxgl.Map({
        container: 'mapId',
        center: this.center,
        pitch: 0,
        bearing: 0,
        zoom: 4,
        style: this.mapboxURL + this.layerId
      })

      // Show an alert if the browser does not support Mapbox GL
      if (!mapboxgl.supported()) {
        console.log('Your browser does not support Mapbox GL')
      }

      /* map.addControl(
        new MapboxGeocoder({
          accessToken: mapboxgl.accessToken,
          mapboxgl: mapboxgl
        })
      ) */
      console.log('map')
      // this.map = map
      return map
    },
    addTerrainLayer (map) {
      map.addLayer({
        // this.map.addLayer({
        id: 'terrain-data',
        type: 'line',
        source: {
          type: 'vector',
          url: 'mapbox://mapbox.mapbox-terrain-v2'
        },
        'source-layer': 'contour'
      })
    },
    createAGeojson () {
      const geojson = {
        type: 'FeatureCollection',
        features: [
          {
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: this.center
            },
            properties: {
              title: 'Mapbox',
              description: 'France'
            }
          }
        ]
      }
      this.geojson = geojson
    },
    addDefaultMarker (map) {
      // add markers to map
      this.geojson.features.forEach(marker => {
        // create a HTML element for each feature
        var el = document.createElement('div')
        el.className = 'marker'

        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          // .addTo(this.map)
          .addTo(map)
      })
    },
    addCustomMarkers () {
      this.getHikes.forEach(marker => {
        // create a HTML element for each feature
        var el = document.createElement('div')
        el.className = 'marker'

        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          // .addTo(this.map)
          .addTo(this.map)
      })
    },
    // Utiliser le « map matching » pour tracer un itinéraire routier à partir de points GPS
    fitMap (coords, map) {
      // centre la carte autour des points
      const bounds = coords.reduce(function (bounds, coord) {
        return bounds.extend(coord)
      }, new mapboxgl.LngLatBounds(coords[0], coords[0]))
      map.fitBounds(bounds, {
        padding: 30 // marge autour des points
      })
    }
    // displayJourney (coords) { // trace une ligne droite sur les points
    //   this.map.addLayer({
    //     id: 'journey',
    //     type: 'line',
    //     source: {
    //       type: 'geojson',
    //       data: {
    //         type: 'Feature',
    //         properties: {},
    //         geometry: {
    //           type: 'LineString',
    //           coordinates: coords
    //         }
    //       }
    //     },
    //     paint: {
    //       'line-color': '#888',
    //       'line-width"': 2
    //     }
    //   })
    // },
    // displayJourneyReshaped (coords) { // affiche le trajet reel (mini 100 points)
    //   // on transforme nos coordonnées en string pour l'appel de l'API
    //   var coordsString = coords.join(';')
    //   // choix du type d'itinéraire que l'on souhaite calculer (par exemple avec "walking" on ne fera pas le tour d'un rond point, avec "driving" si.
    //   var typeRoute = 'driving' // cycling, walking, driving-traffic
    //   var directionsRequest = 'https://api.mapbox.com/matching/v5/mapbox/' + typeRoute + '/' + coordsString + '?geometries=geojson&access_token=' + mapboxgl.accessToken
    //   var xhr = new XMLHttpRequest()
    //   xhr.open('GET', directionsRequest)
    //   xhr.onload = function () {
    //     if (xhr.status === 200) {
    //       var response = JSON.parse(xhr.responseText)
    //       // on récupère la donnée calculée qui nous permettra d'afficher l'itinéraire
    //       var route = response.matchings[0].geometry
    //       // add layer
    //       this.map.addLayer({
    //         id: 'journeyReshaped',
    //         type: 'line',
    //         source: {
    //           type: 'geojson',
    //           data: {
    //             type: 'Feature',
    //             geometry: route // utilisation de l'itinéraire
    //           }
    //         },
    //         paint: {
    //           'line-color': '#3399ff',
    //           'line-width': 4,
    //           'line-opacity': 0.7
    //         }
    //       })
    //     } else {
    //       // en cas d'erreur ajax
    //       console.log('Request failed.  Returned status of ' + xhr.status)
    //     }
    //   }
    //   xhr.send()
    // },
    // placeMarkers (coords) { // marqueurs cliquables
    //   const markers = []
    //   // pour chaque point GPS dans coords
    //   coords.forEach((coord, index) => {
    //     // creation d'un div avec la classe 'marker' pour l'affichage du marker
    //     const el = document.createElement('div')
    //     el.className = 'marker'
    //     el.setAttribute('data-index', index) // on stocke son numéro pour l'utilisation au click
    //     // creer un élément pour indiquer le numéro du marquer dans celui-ci
    //     const content = document.createTextNode(index)
    //     el.appendChild(content)
    //     // on ajoute les marqueurs sur notre carte
    //     markers[index] = new mapboxgl.Marker({
    //       element: el
    //     }).setLngLat([coord[0], coord[1]]).addTo(this.map)
    //     // au clic sur chacun d'eux on recentre la carte sur sa position
    //     el.addEventListener('click', function (e) {
    //       this.map.flyTo({
    //         center: markers[e.target.dataset.index].getLngLat()
    //       })
    //     })
    //   })
    // }
  },
  mounted () {
    const map = this.initializeMap()
    map.on('load', () => {
      // this.map.on('load', () => {
      /* const searchInput = document.querySelector(
        '.mapboxgl-ctrl-geocoder--input'
      )
      searchInput.setAttribute('placeholder', 'Rechercher un lieu') */
      // this.addLayer()
      this.createAGeojson()
      this.addDefaultMarker()
      console.log(map.areTilesLoaded())
      // this.fitMap(coords)
      // this.displayJourney(coords)
      // this.placeMarkers(coords)
      updateMap(map)
    })
  },
  beforeUpdate () {
    if (this.getHikes()) {
      this.addCustomMarkers()
    }
  }
}
</script>
<style lang="scss">
body {
  padding: 0;
  margin: 0;
}
html,
body,
.map {
  height: 100vh;
  width: 100vw;
}
.marker {
  background-image: url('../assets/mapbox-icon/icons/marker-stroked-15.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 0;
  transform: unset;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
}
.mapboxgl-ctrl-top-right {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
}
.mapboxgl-ctrl-geocoder--input {
  width: 70vw;
  border-radius: 9999px;
  padding: 10px;
  border: 1px solid $grey;
}
.mapboxgl-ctrl-geocoder--button {
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  border: none;
  outline: none;
}
.mapboxgl-ctrl-geocoder--input:focus {
  outline: none;
  border: 2px solid $primary;
}

.mapboxgl-ctrl-geocoder--icon-loading,
.mapboxgl-ctrl-geocoder--button {
  display: none;
}

.suggestions-wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  width: 90vw;
}
.suggestions li.active {
  background-color: none;
  border: none;
  color: black;
  font-weight: 700;
}
/*
.suggestions-wrapper ul {
  list-style-type: none;
}*/
@media screen and (min-width: 768px) {
  .mapboxgl-ctrl-geocoder {
    display: none;
  }
}
</style>
