<template>
  <div>
    <div id="mapId" class="map"></div>
  </div>
</template>
<script>
import mapboxgl from 'mapbox-gl/dist/mapbox-gl.js'
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  name: 'Map',
  data () {
    return {
      map: {},
      geojson: {}
    }
  },
  computed: {
    ...mapState('search', [
      'accessToken',
      'mapboxURL',
      'layerID',
      'center',
      'hikes'
    ]),
    ...mapGetters('search', ['getGeojson'])
  },
  methods: {
    ...mapActions('search', ['updateMap', 'createAGeojsonFeature']),
    initializeMap () {
      const accessToken = this.accessToken
      console.log('accessT', accessToken)
      mapboxgl.accessToken = accessToken
      const map = new mapboxgl.Map({
        container: 'mapId',
        center: this.center,
        pitch: 0,
        bearing: 0,
        zoom: 5,
        style: this.mapboxURL + this.layerID
      })

      // Show an alert if the browser does not support Mapbox GL
      if (!mapboxgl.supported()) {
        console.log('Your browser does not support Mapbox GL')
      }
      return map
    },
    addTerrainLayer (map) {
      map.addLayer({
        id: 'terrain-data',
        type: 'line',
        source: {
          type: 'vector',
          url: 'mapbox://mapbox.mapbox-terrain-v2'
        },
        'source-layer': 'contour'
      })
    }
  },
  mounted () {
    const map = this.initializeMap()
    console.log('map', map)
    this.initializeMap()
    map.on('load', () => {
      console.log('chargé', map.areTilesLoaded())
    })
    this.map = map
  },
  watch: {
    hikes: function (val) {
      // const map = this.map
      for (let i = 0; i < val.length; i++) {
        this.createAGeojsonFeature(val[i])
      }
      const geojson = this.getGeojson
      const coordinatesPolygon = []
      geojson.data.features.forEach(feature => {
        coordinatesPolygon.push(feature.geometry.coordinates)
      })
      const imgMarker = require('src/assets/mapbox-marker.png')
      this.map.loadImage(imgMarker, (error, image) => {
        if (error) throw error
        // Add a custom image
        this.map.addImage('custom-marker', image)
        // Add a GeoJSON source with 2 points
        this.map.addSource('points', geojson)
        // Add a symbol layer
        this.map.addLayer({
          id: 'points',
          type: 'symbol',
          source: 'points',
          layout: {
            'icon-image': 'custom-marker',
            // get the title name from the source's "title" property
            'text-field': ['get', 'title'],
            'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
            'text-offset': [0, 1.25],
            'text-anchor': 'top'
          }
        })
      })

      // center the map to the center of the points
      this.map.fitBounds(coordinatesPolygon, { padding: 140 })
      // Center the map by clicking on the marker
      this.map.on('click', 'points', e => {
        this.map.setCenter(e.features[0].geometry.coordinates)
        this.map.setZoom(13)
      })
    }
  }
}
</script>
<style lang="scss">
body {
  padding: 0;
  margin: 0;
}
html,
body,
.map {
  height: 100vh;
  width: 100vw;
}
.marker {
  background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 0;
  transform: unset;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
}
.mapboxgl-ctrl-top-right {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
}
.mapboxgl-ctrl-geocoder--input {
  width: 70vw;
  border-radius: 9999px;
  padding: 10px;
  border: 1px solid $grey;
}
.mapboxgl-ctrl-geocoder--button {
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  border: none;
  outline: none;
}
.mapboxgl-ctrl-geocoder--input:focus {
  outline: none;
  border: 2px solid $primary;
}

.mapboxgl-ctrl-geocoder--icon-loading,
.mapboxgl-ctrl-geocoder--button {
  display: none;
}

.suggestions-wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  width: 90vw;
}
.suggestions li.active {
  background-color: none;
  border: none;
  color: black;
  font-weight: 700;
}
/*
.suggestions-wrapper ul {
  list-style-type: none;
}*/
@media screen and (min-width: 768px) {
  .mapboxgl-ctrl-geocoder {
    display: none;
  }
}
</style>
