<template>
  <q-page class="flex flex-center">
    je suis dans le dashboard
  </q-page>
</template>

<script>
export default {
  name: 'Dashboard',
  data () {
    return {
      //
    }
  }
}
</script>
<style lang="scss">
  //
</style>
