<template>
  <q-page class="flex flex-center">
    <input-search class="input-search"></input-search>
    <Map></Map>
    <!--<router-link to="/search">
      <q-btn class="search-btn">+</q-btn>
    </router-link>-->
  </q-page>
</template>

<script>
import InputSearch from 'src/components/Search/InputSearch.vue'
import Map from '../../components/Map'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'PageIndex',
  components: {
    Map,
    InputSearch
  },
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapState(['search']),
    ...mapGetters('search', ['getLocalHikes'])
  },
  methods: {
    // ...mapActions('search', ['updateLocalHikes'])
  }
}
</script>
<style lang="scss">
.input-search {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin: 2vh auto;
  width: 95vw;
}
.search-btn {
  position: absolute;
  bottom: 25vh;
  right: 7.5vw;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid $primary;
  color: $primary;
  border-radius: 50%;
  text-align: center;
}
.search-btn:focus,
.search-btn:hover,
.search-btn:active,
.active {
  background: $primary;
  border: 1px solid $primary;
  color: #fff;
}
</style>
