<template>
  <q-page class="q-mx-sm">
    <div class="search-location">
      <input-search class="input-search"></input-search>
    </div>
    <div v-if="getHikeFounded" class="wrapper">
      <div class="title">
        {{ search.hikes.length }} randonnée(s) trouvée(s).
      </div>
      <hikes-list :hikes="getHikes"></hikes-list>
    </div>
    <div v-else class="wrapper">
      <div class="title">Dernières randonnées</div>
      <hikes-list :hikes="getLastHikes"></hikes-list>
    </div>
  </q-page>
</template>
<script>
import { mapState, mapGetters, mapActions } from 'vuex'
// components
import InputSearch from '../../components/Search/InputSearch'
import HikesList from '../../components/Search/HikesList'
// store
// import { biblio } from '../../store/biblio.js'

export default {
  name: 'Search',
  components: {
    InputSearch,
    HikesList
  },
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapState(['search']),
    ...mapGetters('search', ['getHikeFounded', 'getHikes', 'getLastHikes'])
  },
  methods: {
    ...mapActions('search', ['updateLastHikes'])
  },
  beforeMount () {
    this.updateLastHikes()
  }
}
</script>
<style lang="scss">
.input-search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 2vh;
}
.search-location {
  position: relative;
  width: 100vw;
  margin-left: -14px;
}
.wrapper {
  position: relative;
}
.title:not(.box-response .title) {
  margin: 15px 0;
}
.title {
  position: relative;
  font-size: 1.2em;
  font-weight: 700;
  color: #363636;
  margin: 6px 0;
}
</style>
