<template>
  <div class="wrapper-box">
    <div class="title">{{ h.titre }}</div>
    <div class="box-img">
      <img :src="getPicture(h.image)" alt="image du village" class="city-img" />
      <div class="ligne">
        <div>
          <q-icon name="height" class="text-primary"></q-icon>
          {{ h.denivele }}m
        </div>
        <div>
          <q-icon name="my_location" class="text-primary"></q-icon>
          {{ h.distance / 1000 }}km
        </div>
        <div>
          <q-icon name="timer" class="text-primary"></q-icon>
          {{ Math.round(h.duree / 3600) }}h
        </div>
      </div>
    </div>
    <div class="box-info">
      <q-icon name="info" class="text-primary"></q-icon>
      {{ h.desc }}
    </div>
    <div class="impr-btn">
      <q-btn @click="handlePrintHike">imprimer</q-btn>
      <q-btn @click="upload(h)">télécharger la trace gpx</q-btn>
    </div>
  </div>
</template>
<script>
import { Printd } from 'printd'
import { mapActions } from 'vuex'

export default {
  name: 'Hike',
  props: ['h'],
  methods: {
    ...mapActions('search', ['uploadGPXURL']),
    getPicture (index) {
      return require('../../assets/hike-img/' + index + '.jpeg')
    },
    handlePrintHike (e) {
      const element = e.target.closest('.box-response')
      const d = new Printd()
      d.print(element)
    },
    upload (hike) {
      console.log('hike')
    }
    // uploadGPXTrace (hike) {
    //   const gpx = `../../store/trace-gpx/${hike.trace_gps}`
    //   console.log(gpx)
    // new L.GPX(gpx, {
    //   async: true
    // }).on('loaded', e => {
    //   map.fitBounds(e.target.getBounds())
    //   console.log('test', e.target.getBounds())
    // })
    // .addTo(map)

    /* var gpx = '...'; // URL to your GPX
file or the GPX itself new L.GPX(gpx, {async: true}).on('loaded', function(e) {
map.fitBounds(e.target.getBounds()); }).addTo(map) */
    // https://www.npmjs.com/package/leaflet-gpx-with-distance-points
    // }
  }
}
</script>
<style lang="scss">
.impr-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.impr-btn .q-btn {
  text-transform: lowercase;
  font-size: 0.9em;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid $primary;
  color: $primary;
  padding: 1px;
}
.impr-btn .q-btn:hover,
.impr-btn .q-btn:focus,
.impr-btn .q-btn:active {
  background-color: $primary;
  border: 1px solid $primary;
  color: #fff;
}
.impr-btn {
  display: none;
}

.ligne {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: middle;
  margin: 6px 0;
}
.box-img {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
}
.city-img {
  width: 150px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .wrapper-box {
    width: 45vw;
    box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.3);
    border-radius: 3px;
    margin: 0 auto;
    padding: 15px;
  }
  .title {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    padding: 2vh 0;
  }
  .ligne {
    flex-direction: column;
  }
  .box-img {
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
  }
  .city-img {
    width: 50%;
  }
  .box-info {
    padding: 15px;
  }
  .impr-btn {
    display: block;
  }
}
</style>
