<template>
  <div>
    <div v-for="(el, i) in this.hikes" :key="i" class="box-response" :h="el">
      <Hike :h="el"></Hike>
    </div>
  </div>
</template>
<script>
import Hike from './Hike'

export default {
  name: 'HikesList',
  props: ['hikes'],
  components: {
    Hike
  }
}
</script>
<style lang="scss">
.box-response:nth-child(2) {
  border-top: 1px solid $primary;
}
.box-response {
  position: relative;
  border-bottom: 1px solid $primary;
  border-radius: 5px;
  margin: 0px;
  padding: 8px 16px;
  text-align: justify;
}
.box-response .title {
  color: $primary;
}
@media screen and (min-width: 768px) {
  .box-response {
    display: flex;
    flex-wrap: wrap;
  }
  .box-response,
  .box-response:nth-child(2) {
    border: none;
  }
}
</style>
