<template>
  <div>
    <q-btn class="go-btn" @click="loadData">go</q-btn>
    <q-input
      rounded
      outlined
      bg-color="white"
      :value="inputValue"
      @input="updateInput"
      label="Je recherche une randonnée"
    >
      <template v-slot:append>
        <q-icon name="search" />
      </template>
    </q-input>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'Input',
  computed: {
    ...mapState('search', ['inputValue'])
  },
  methods: {
    ...mapActions('search', ['updateInput', 'loadData'])
  }
}
</script>
<style lang="scss">
.go-btn {
  /*position: absolute;
  top: 6vh;
  left: 2vw;*/
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid $primary;
  color: $primary;
  text-align: center;
  transition: all 0.5s ease-in-out;
  margin: 0 5px;
}
.go-btn:hover,
.go-btn:focus,
.go-btn:active {
  color: #fff;
  background-color: $primary;
  border: 1px solid $primary;
  width: 32px;
  height: 32px;
}
.q-input {
  /*position: absolute;
  top: 5vh;
  right: 2vw;*/
  width: 87vw;
}
</style>
