<template>
  <q-layout view="hhh lpr fFf">
    <q-header elevated>
      <q-toolbar>
        <q-icon name="settings"></q-icon>
        <q-toolbar-title>
          MonAppli desktop
        </q-toolbar-title>
        <q-toolbar
          class="toolbar-desktop"
          v-for="(link, i) in this.iconsMenu"
          :key="i"
        >
          <div>{{ link.title }}</div>
          <q-icon :name="link.icon"> </q-icon>
        </q-toolbar>
      </q-toolbar>
    </q-header>
    <q-footer>
      ici le footer
      <br />
      <br />
      il faudrait plusieurs lignes
    </q-footer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MobileLayout',
  data () {
    return {
      iconsMenu: [
        {
          title: 'Home',
          icon: 'home',
          link: ''
        },
        {
          title: 'RS',
          icon: 'chat',
          link: ''
        },
        {
          title: 'TdB',
          icon: 'dashboard',
          link: ''
        },
        {
          title: 'enregistr',
          icon: 'save',
          link: ''
        }
      ]
    }
  }
}
</script>
<style lang="scss">
.q-toolbar.toolbar-desktop {
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  width: 10% !important;
}
.q-toolbar__title {
  font-size: 1em;
  font-weight: 700;
  text-align: center !important;
}
/*@media screen and (min-width: 768px) {*/
.q-header,
.q-footer {
  background: white;
  color: blue;
}
/*}*/
</style>
