<template>
  <q-layout view="hhh lpr fFf">
    <q-header elevated>
      <q-toolbar>
        <q-icon name="settings"></q-icon>
        <q-toolbar-title>
          MonAppli mobile
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-footer>
      <q-toolbar
        class="toolbar-mobile"
        v-for="(link, i) in this.iconsMenu"
        :key="i"
      >
        <router-link :to="link.link">
          <q-icon :name="link.icon"></q-icon>
        </router-link>
      </q-toolbar>
    </q-footer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MobileLayout',
  data () {
    return {
      iconsMenu: [
        {
          title: 'Home',
          icon: 'home',
          link: '/'
        },
        {
          title: 'RS',
          icon: 'chat',
          link: '/network'
        },
        {
          title: 'TdB',
          icon: 'dashboard',
          link: '/dashboard'
        },
        {
          title: 'enregistr',
          icon: 'save',
          link: '/save'
        }
      ]
    }
  }
}
</script>
<style lang="scss">
.q-footer {
  display: flex;
}
.q-toolbar.toolbar-mobile {
  display: flex;
  justify-content: center;
}
.q-icon {
  font-size: 22px;
  color: #fff;
}
.q-toolbar__title {
  font-size: 1em;
  font-weight: 700;
  text-align: center !important;
}
</style>
