<template>
  <q-page id="page-intro" class="flex flex-center">
    <div id="intro">
      <h2 class="text-intro">Explorez le monde !</h2>
    </div>
    <div class="search-intro">
      <hikes-list class="last-hikes" :hikes="getLastHikes"></hikes-list>
    </div>
  </q-page>
</template>

<script>
import HikesList from 'src/components/Search/HikesList.vue'
import { mapState, mapGetters, mapActions } from 'vuex'
import { biblio } from 'src/store/biblio'
export default {
  name: 'PageIndex',
  components: {
    HikesList
    // Search
  },
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapState(['search']),
    ...mapGetters('search', ['getHikeFounded', 'getLastHikes'])
  },

  methods: {
    ...mapActions('search', ['updateLastHikes']),
    pouet () {
      console.log('test')
    }
  },
  beforeMount () {
    this.updateLastHikes(biblio)
  }
}
</script>
<style lang="scss">
@media screen and (min-width: 768px) {
  .q-toolbar {
    padding: 12px;
  }
  #page-intro {
    width: 100vw;
    height: 100vh;
  }
  #intro {
    background-image: url('../../assets/intro-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    text-align: center;
  }

  .text-intro {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 15vh;
    font-weight: 700;
    line-height: 1.2em;
  }
  .search-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .last-hikes {
    margin: 2vh 2vw 5vh 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
</style>
