<template>
  <q-page id="search-desktop" class="flex">
    <div class="map-search">
      <div>
        <input-search class="input-search"></input-search>
        <Map class="map"></Map>
      </div>
      <hikes-list class="hikes-list" :hikes="getHikes"></hikes-list>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import Map from 'src/components/Map.vue'
import HikesList from 'components/Search/HikesList'
import InputSearch from 'src/components/Search/InputSearch.vue'

export default {
  name: 'Search',
  components: {
    Map,
    HikesList,
    InputSearch
  },
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapState(['search']),
    ...mapGetters('search', ['getHikes'])
  },

  methods: {
    // ...mapActions('search', ['updateLastHikes'])
  }
}
</script>
<style lang="scss">
@media screen and (min-width: 768px) {
  .search-desktop {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .input-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    margin: 2vh auto;
    width: 45vw;
  }
  .map-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .map {
    width: 100vw;
    max-height: 40vh;
  }
}
</style>
